<div class="row">
	<div class="col-lg-3">
		<%= render 'shared/side_nav' %>
	</div>
	<div class="col-lg-9">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Settings Users</h1>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				Add Users 
			</button>
		</div>
		<div class="card shadow">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="fs-6">
							<tr class="text-center">
								<th scope="col">#</th>
								<th scope="col">Email</th>
								<th scope="col">Password</th>
								<th scope="col">Roles</th>
								<th scope="col">Previous IP</th>
								<th scope="col">Signed in IP</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody class="fs-6">
							<% @users.each_with_index do |user, index| %>
								<tr class="text-center">
									<th scope="row"><%= index + 1 %></th>
									<td><%= user.email %></td>
									<td><%= user.visible_password %></td>
									<td><%= user.role %></td>
									<td><%= user.last_sign_in_ip %></td>
									<td><%= user.current_sign_in_ip %></td>
									<td>
										<% if current_user&.admin? && current_user != user %>
											<%= link_to "Delete", delete_user_url(user), data: {turbo_method: :delete, turbo_confirm: "Are you sure!"}, class: "btn btn-outline-danger btn-sm" %>
										<% else %>
											<i class='bx bx-wink-smile text-success fs-3'></i>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Add User</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<%= form_with(url: create_user_path, method: :post, local: true, data: {turbo: false}) do |form| %>
				<div class="modal-body">
					<div class="mb-3">
						<%= form.label :email, class: "form-label" %>
						<%= form.text_field :email, class: "form-control", placeholder: "Enter Email", required: true %>
					</div>
					<div class="mb-3">
						<%= form.label :password, class: "form-label" %>
						<%= form.password_field :password, class: "form-control", placeholder: "Enter Password", required: true %>
					</div>
					<div class="mb-3">
						<%= form.label :role, class: "form-label" %>
						<%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, { prompt: "------Select Role------"}, class: "form-select", required: true%>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<%= form.submit "Create", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>