<div class="text-center">
	<% if current_user&.admin? %>
		<%= link_to "Quiz", quiz_index_path, class: "btn btn-primary btn-lg"  %>
		<%= link_to "Quiz Master", quizmaster_path, class: "btn btn-secondary btn-lg"  %>
		<%= link_to "Judges", judges_path, class: "btn btn-success btn-lg"  %>
		<%#= link_to "Scoreboard", scoreboard_path, class: "btn btn-danger btn-lg"  %>
		<%= link_to "Timer", timer_path, class: "btn btn-warning btn-lg"  %>
		<%#= link_to "Record Keeper", timer_path, class: "btn btn-info btn-lg"  %>
	<% elsif current_user&.presenter? %>
		<%= link_to "Quiz", quiz_index_path, class: "btn btn-primary btn-lg"  %>
		<%#= link_to "Scoreboard", scoreboard_path, class: "btn btn-danger btn-lg"  %>
	<% elsif current_user&.time_keeper? %>
		<%= link_to "Timer", timer_path, class: "btn btn-warning btn-lg"  %>
	<% elsif current_user&.judges? %>
		<%= link_to "Judges", judges_path, class: "btn btn-success btn-lg"  %>
	<% elsif current_user&.quiz_master? %>
		<%= link_to "Quiz Master", quizmaster_path, class: "btn btn-secondary btn-lg"  %>
	<% elsif current_user&.recorder? %>
		<%#= link_to "Record Keeper", timer_path, class: "btn btn-info btn-lg"  %>
		<%#= link_to "Scoreboard", scoreboard_path, class: "btn btn-danger btn-lg"  %>
	<% else %>
		Oops...
	<% end %>
</div>
<div class="card my-5">
	<div class="card-body border border-danger border-3 border-top-0 border-bottom-0">
		<div class="px-4 py-5 my-5 text-center">
			<%= image_tag("jbq.jpg", width: 80, height: 80, alt: "logo") %>
			<h1 class="display-5 fw-bold text-body-emphasis mt-3">Welcome to the <span class="text-danger circle-bg" id="buzzer">7<sup>th</sup></span> Childrens' Bible Quiz Competition.</h1>
			<hr style="width: 40%; margin: auto; margin-bottom: 10px; color: red;  height: 10px;">
			<div class="col-lg-8 mx-auto">
				<p class="lead mb-2 fw-semibold">This exciting event brings together young minds eager to showcase their knowledge of the Bible. Participants from various backgrounds will engage in friendly competition, answering questions that test their understanding of biblical stories, characters, and teachings.</p>
			</div>
		</div>
	</div>
</div>