<div class="text-center">
	<%= link_to "Quiz", quiz_index_path, class: "btn btn-primary btn-lg"  %>
	<%= link_to "Quiz Master", quizmaster_path, class: "btn btn-secondary btn-lg"  %>
	<%= link_to "Judges", judges_path, class: "btn btn-success btn-lg"  %>
	<%= link_to "Scoreboard", scoreboard_path, class: "btn btn-danger btn-lg"  %>
	<%= link_to "Timer", scoreboard_path, class: "btn btn-warning btn-lg"  %>
</div>
<div class="card my-5">
	<div class="card-body">
		This is some text within a card body.
	</div>
</div>