<!DOCTYPE html>
<html>
	<head>
		<title>COC Quiz 24</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="turbo-prefetch" content="false">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= favicon_link_tag "jbq2.jpg" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags "application" %>
	</head>
	<style>
		.bg-image {
		background-image: url(<%=asset_path("background.jpg")%>);
		background-size: cover; /* Adjust the background-size as needed */
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Prevent the image from repeating */
		height: 100vh; /* Ensure it covers the full viewport height */
		}
	</style>
	<body class="bg-image">
		<%= render 'shared/nav' %>
		<div class="container ">
			<%= render 'shared/notice' %>
			<%= yield %>
			<div class="position-fixed bottom-0 end-0 mb-3 me-5 ">
				<%= link_to "Scoreboard", scoreboard_path, class: "btn btn-danger py-2" unless request.path != quiz_index_path  %>
			</div>
		</div>
		<%= render 'shared/footer' %>
	</body>
</html>
