<!DOCTYPE html>
<html>
	<head>
		<title>COC Quiz 24 Auth</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="turbo-prefetch" content="false">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= favicon_link_tag "jbq2.jpg" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags "application" %>
	</head>
	<style>
		.login {
		  min-height: 100vh;
		}

		.bg-image {
			background-image: url(<%=asset_path("login.jpg")%>);
		  background-size: cover;
		  background-position: center;
		}

		.login-heading {
		  font-weight: 300;
		}

		.btn-login {
		  font-size: 0.9rem;
		  letter-spacing: 0.05rem;
		  padding: 0.75rem 1rem;
		}
		.bg-color{
			background-color: #e6e6e6;
		}
	</style>
	<body class="bg-color">
		<%= yield %>
	</body>
</html>
